*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.pagina{
  display: flex;
  min-height: 100vh;
}

/* PANEL IZQUIERDO */

.izquierda{
  width: 50%;
  background-color: #00852B;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 80px;
}

.contenido-izquierda h1{
  font-size: 100px;
}

.contenido-izquierda h2{
  margin-top: 10px;
  font-weight: normal;
}

.contenido-izquierda p{
  margin-top: 50px;
  line-height: 35px;
  width: 400px;
  font-size: 24px;
}

.footer{
  opacity: 0.7;
}

/* PANEL DERECHO */

.derecha{
  width: 50%;
  background-color: #EEF4EE;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */

.card{
  background-color: white;
  width: 420px;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card h1{
  color: #00852B;
  margin-bottom: 10px;
}

.card p{
  margin-bottom: 20px;
}

/* BOTONES */

.grupo-botones{
  display: flex;
  margin-bottom: 30px;
}

.grupo-botones button{
  flex: 1;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.activo{
  background-color: #00A63E;
  color: white;
  border-radius: 10px;
}

.inactivo{
  background-color: #E8F3E8;
  color: #666;
  border-radius: 10px;
}

/* INPUTS */

label{
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;

  font-size: 13px;
  font-weight: bold;
}

input{
  width: 100%;

  padding: 14px;

  border-radius: 10px;
  border: 1px solid #C8E0C8;

  margin-bottom: 10px;

  font-size: 15px;
}

input::placeholder{
  color: #999;
}

/* BOTON CONFIRMAR */

.confirmar{
  width: 100%;
  margin-top: 20px;

  padding: 14px;

  background-color: #00A63E;
  color: white;

  border: none;
  border-radius: 10px;

  font-size: 16px;
  cursor: pointer;
}

/* SIGNUP */

.signup{
  text-align: center;
  margin-top: 20px;
}

.signup a{
  color: #00A63E;
  text-decoration: none;
  font-weight: bold;
}


/* BARRA MOBILE */

.barra-mobile{
  display: none;
}

/* RESPONSIVE */

@media (max-width: 768px){

  .pagina{
    flex-direction: column;
  }

  /* ocultar panel izquierdo */
  .izquierda{
    display: none;
  }

  /* panel derecho ocupa todo */
  .derecha{
    width: 100%;
    min-height: 100vh;

    flex-direction: column;
    justify-content: flex-start;
  }

  /* mostrar barra superior */
  .barra-mobile{
    display: flex;

    width: 100%;
    height: 80px;

    background-color: #00852B;
    color: white;

    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
  }

  .barra-mobile h1{
    font-size: 32px;
  }

  /* card más pequeña */
  .card{
    width: 90%;
    max-width: 420px;
  }
}
.terminos{
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 20px;
}

.terminos input{
  width: 18px;
  height: 18px;

  margin: 0;
}

.terminos label{
  margin: 0;
  font-size: 14px;
}
.navbar{
  width: 100%;
  height: 80px;

  background-color: #00852B;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
}

/* LOGO */

.logo{
  font-size: 32px;
}

/* CENTRO */

.usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rol{
  font-size: 14px;
  opacity: 0.8;
}

.nombre{
  font-size: 18px;
  font-weight: bold;
}

/* BOTON */

.salir{
  background-color: white;
  color: #00852B;

  border: none;
  border-radius: 10px;

  padding: 10px 18px;

  cursor: pointer;
  font-weight: bold;
}
.contenedor-horario {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tabla-horario {
  border-collapse: collapse;
  width: 90%;
  max-width: 1200px;
  background-color: white;
}

.tabla-horario th,
.tabla-horario td {
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  min-width: 100px;
  height: 60px;
}

.tabla-horario th {
  background-color: #2e7d32;
  color: white;
}

.hora {
  font-weight: bold;
  background-color: #f0f0f0;
}


.error-page {

  min-height: 100vh;
  background-color: white;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.logo {

  position: absolute;

  top: 30px;
  left: 40px;

  color: #2E7D32;

  font-size: 2rem;
  font-weight: bold;
}

/* CONTENIDO CENTRAL */
.error-contenido {

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

/* ICONO */
.error-icono {

  font-size: 7rem;

  color: red;

  margin-bottom: 20px;
}

.error-contenido h2 {

  font-size: 2rem;

  margin-bottom: 10px;
}

.error-contenido p {

  color: gray;

  margin-bottom: 30px;
}

/* BOTON */
.boton-error {

  padding: 12px 24px;

  border: none;
  border-radius: 10px;

  background-color: #2E7D32;

  color: white;

  font-size: 1rem;

  cursor: pointer;

  transition: 0.2s;
}

.boton-error:hover {

  transform: scale(1.05);
}

.loading-overlay {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.loading-gif {

  width: 120px;
  height: 120px;

  object-fit: contain;
}

.card-qr{

  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

/* QR PAGE */

.qr-page{

  min-height: 100vh;

  background-color: #EEF4EE;
}

/* CONTENEDOR */

.qr-container{

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 40px;
}

/* CARD QR */

.qr-card{

  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

/* READER */

#reader{

  width: 100%;

  margin-top: 20px;
  margin-bottom: 20px;
}

/* ICONO ERROR */

.qr-error-icon{

  font-size: 90px;

  margin-bottom: 20px;
}

/* CANCELAR */

.cancelar{

  background-color: #c62828;

  margin-top: 10px;
}

/* MOBILE */

@media (max-width: 768px){

  .qr-card{

    width: 100%;
  }
}


.email-page {

  min-height: 100vh;

  background-color: white;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO */
.logo {

  position: absolute;

  top: 30px;
  left: 40px;

  color: #2E7D32;

  font-size: 2rem;
  font-weight: bold;
}

/* CONTENIDO CENTRAL */
.email-contenido {

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

  background-color: white;
}

/* ICONO */
.email-icono {

  font-size: 7rem;

  margin-bottom: 20px;
}

/* TITULO */
.email-contenido h2 {

  font-size: 2rem;

  margin-bottom: 10px;
}

/* TEXTO */
.email-contenido p {

  color: gray;

  margin-bottom: 30px;
}

/* BOTON */
.boton-email {

  padding: 12px 24px;

  border: none;
  border-radius: 10px;

  background-color: #2E7D32;

  color: white;

  font-size: 1rem;

  cursor: pointer;

  transition: 0.2s;
}

.boton-email:hover {

  transform: scale(1.05);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEF5EE;
}

/* LAYOUT */

.dashboard-layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar{
  height: 70px;
  background-color: #00852B;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
}

.logo{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.usuario{
  color: white;
  font-size: 1rem;
}

.salir{
  background-color: #0A7D2C;
  color: white;

  border: none;
  padding: 10px 20px;

  border-radius: 6px;
  cursor: pointer;
}

/* CONTENIDO */

.pagina-dashboard{
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
}

/* BIENVENIDA */

.bienvenida{
  width: 520px;
  margin-bottom: 25px;
}

.bienvenida h1{
  color: #00852B;
  font-size: 3rem;
  margin-bottom: 10px;
}

.bienvenida p{
  color: #6B7C6B;
  font-size: 1.1rem;
}

/* CARD */

.card{
  width: 520px;

  background-color: #F8F8F8;

  border: 1px solid #CFE7CF;
  border-radius: 20px;

  padding: 25px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.titulo-dashboard{
  color: #6B7C6B;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* BOTONES */

.contenedor-botones{
  display: flex;
  gap: 20px;
}

.boton-dashboard{
  flex: 1;

  height: 180px;

  border-radius: 15px;
  border: 1px solid #9AD69A;

  background-color: #EAF6EA;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: 0.2s;
}

.boton-dashboard:hover{
  transform: scale(1.02);
}

.boton-dashboard img{
  width: 90px;
  margin-bottom: 15px;
}

.boton-dashboard span{
  color: #00852B;
  font-size: 1.1rem;
  font-weight: bold;
}

/* BOTON ACTIVO */

.boton-dashboard.activo{
  background-color: #00A63E;
}

.boton-dashboard.activo span{
  color: white;
}

/* FOOTER */

.footer{
  height: 35px;

  background-color: #A6E4B3;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #4F5F4F;
  font-size: 0.9rem;
}