# Ejemplo de variables de entorno requeridas para levantar el backend RUA
DBPASS=escribir_aqui_password_bd
MAILKEY=escribir_aqui_api_key_sendgrid
DB_URL=escribir_aqui_db_url
DB_USER=escribir_aqui_db_user
OPENROUTER_API_KEY=escribir_aqui_openrouter_api_key