DB_URL=db_url
DB_USERNAME=db_username
DBPASS=db_password

SENDGRID_HOST=sendgrid_host
SENDGRID_PORT=sendgrid_port
SENDGRID_USERNAME=sendgrid_username
SENDGRID_PASSWORD=sendgrid_api_key

OPENROUTER_API_KEY=open_router_api_key